@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }

  body {
    background: url(static/bg-pattern-top-mobile.svg), url(static/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    font-family: 'League Spartan', sans-serif;
    }

  /* header*/
  header h1{
    background-color: hsl(300, 43%, 22%);
    padding: 30px 0;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 64px 30px 64px;
  }

  /* Footer*/
 .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }